<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065698660645-q6c31v6fc951ua5ek5stttmftgbs20ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065698660645-q6c31v6fc951ua5ek5stttmftgbs20ol</string>
	<key>API_KEY</key>
	<string>AIzaSyB_H7nuS7BroapDYfQ5eaNGq6JSleJOAco</string>
	<key>GCM_SENDER_ID</key>
	<string>1065698660645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trile.Trile</string>
	<key>PROJECT_ID</key>
	<string>trile-6bbdc</string>
	<key>STORAGE_BUCKET</key>
	<string>trile-6bbdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065698660645:ios:6d8bc9b98a1b10c48d4acc</string>
	<key>DATABASE_URL</key>
	<string>https://trile-6bbdc.firebaseio.com</string>
</dict>
</plist>